<div id="authors">
  <div class="author content-group">
    <div class="gravatar" style="background: url('http://www.gravatar.com/avatar/22dbad527eff3657ca5b8e39ae331ced.png')"></div>
    <p class="name">Ryan Boucher</p>

    <p class="defocus small-text aside">Team guy</p>
    <ul class="text-right small-text clear-both">
      <li><a href="http://twitter.com/distributedlife" target="_blank">twitter</a></li>
      <li><a href="http://distributedlife.com/" target="_blank">distributedlife</a></li>
    </ul>
  </div>
</div>