<header>
  <div id="title-links" class="right">
    <span class="small-text"><a href="/">distributedlife</a></span>
    <p class="tiny-text">[<a target="_blank" href="http://feeds.feedburner.com/Distributedlife">subscribe</a>]
      [<a target="_blank" href="http://twitter.com/#!/distributedlife">twitter</a>]
      [<a target="_blank" href="https://github.com/distributedlife">github</a>]
    </p>
  </div>
  <div id="title">
    <h1 class="header">{{ page.title}}</h1>
    <h2 class="header padding-top">{{ page.subtitle}}</h2>
  </div>
  <div class="author content-group"></div>
</header>