  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title}}</title>

  <link rel=”alternate” type="application/atom+xml" title="distributedlife" href="http://feeds.feedburner.com/Distributedlife"/>

  <meta name="description" content="distributedlife - my blog">
  <meta name="keywords" content="ryan boucher, rybo, distributedlife, testing, development, gaming, games, design, food, life, music">
  <meta name="author" content="Ryan Boucher">

  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/pygment.css" media="screen" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/ico" href="/favicon.ico">
